#               Prepare DataSets for SQL Operations

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

42_District_wise_crimes_committed_against_women_2001_2012

In [2]:
df = pd.read_csv('/Users/tabrezkhan/Downloads/India_Crime - Copy/42_District_wise_crimes_committed_against_women_2001_2012.csv')
df

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,1,0,1,0
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,1,0,1,0
9014,PUDUCHERRY,KARAIKAL,2012,6,2,0,2,0,1,0
9015,PUDUCHERRY,PUDUCHERRY,2012,7,14,0,7,2,5,0
9016,PUDUCHERRY,TOTAL,2012,13,16,0,9,2,6,0

In [3]:
# check for null values
df.isnull().sum()

STATE/UT                                               0
DISTRICT                                               0
Year                                                   0
Rape                                                   0
Kidnapping and Abduction                               0
Dowry Deaths                                           0
Assault on women with intent to outrage her modesty    0
Insult to modesty of Women                             0
Cruelty by Husband or his Relatives                    0
Importation of Girls                                   0
dtype: int64

In [4]:
df['DISTRICT'].unique()

array(['ADILABAD', 'ANANTAPUR', 'CHITTOOR', 'CUDDAPAH', 'EAST GODAVARI',
       'GUNTAKAL RLY.', 'GUNTUR', 'HYDERABAD CITY', 'KARIMNAGAR',
       'KHAMMAM', 'KRISHNA', 'KURNOOL', 'MAHABOOBNAGAR', 'MEDAK',
       'NALGONDA', 'NELLORE', 'NIZAMABAD', 'PRAKASHAM', 'RANGA REDDY',
       'SECUNDERABAD RLY.', 'SRIKAKULAM', 'VIJAYAWADA', 'VIJAYAWADA RLY.',
       'VISAKHA RURAL', 'VISAKHAPATNAM', 'VIZIANAGARAM', 'WARANGAL',
       'WEST GODAVARI', 'TOTAL', 'CHANGLANG', 'DIBANG VALLEY',
       'KAMENG EAST', 'KAMENG WEST', 'LOHIT', 'PAPUM PARE', 'SIANG EAST',
       'SIANG UPPER', 'SIANG WEST', 'SUBANSIRI LOWER', 'SUBANSIRI UPPER',
       'TAWANG', 'TIRAP', 'BARPETA', 'BONGAIGAON', 'C.I.D.', 'CACHAR',
       'DARRANG', 'DHEMAJI', 'DHUBRI', 'DIBRUGARH', 'G.R.P.', 'GOALPARA',
       'GOLAGHAT', 'GUWAHATI CITY', 'HAILAKANDI', 'JORHAT', 'KAMRUP',
       'KARBI ANGLONG', 'KARIMGANJ', 'KOKRAJHAR', 'LAKHIMPUR', 'MORIGAON',
       'N.C.HILLS', 'NAGAON', 'NALBARI', 'R.P.O.', 'SIBSAGAR', 'SONITPUR',
       'TINSUKIA', 'ARARIA', 'ARWAL', 'AURANGABAD', 'BAGAHA', 'BANKA',
       'BEGUSARAI', 'BETTIAH', 'BHABHUA', 'BHAGALPUR', 'BHOJPUR', 'BUXAR',
       'DARBHANGA', 'GAYA', 'GOPALGANJ', 'JAMALPUR RLY.', 'JAMUI',
       'JEHANABAD', 'KATIHAR', 'KATIHAR RLY.', 'KHAGARIA', 'KISHANGANJ',
       'LAKHISARAI', 'MADHEPURA', 'MADHUBANI', 'MOTIHARI', 'MUNGER',
       'MUZAFFARPUR', 'MUZAFFARPUR RLY.', 'NALANDA', 'NAUGACHIA',
       'NAWADAH', 'PATNA', 'PATNA RLY.', 'PURNEA', 'ROHTAS', 'SAHARSA',
       'SAMASTIPUR', 'SARAN', 'SHEIKHPURA', 'SHEOHAR', 'SITAMARHI',
       'SIWAN', 'SUPAUL', 'VAISHALI', 'BALRAMPUR', 'BILASPUR', 'BIZAPUR',
       'DANTEWARA', 'DHAMTARI', 'DURG', 'GRP RAIPUR', 'JAGDALPUR',
       'JANJGIR', 'JASHPUR', 'KANKER', 'KAWARDHA', 'KORBA', 'KORIYA',
       'MAHASAMUND', 'RAIGARH', 'RAIPUR', 'RAJNANDGAON', 'SARGUJA',
       'NORTH GOA', 'SOUTH GOA', 'AHMEDABAD COMMR.', 'AHMEDABAD RURAL',
       'AHWA-DANG', 'AMRELI', 'ANAND', 'BHARUCH', 'BHAVNAGAR', 'DAHOD',
       'GANDHINAGAR', 'HIMATNAGAR', 'JAMNAGAR', 'JUNAGADH', 'KHEDA NORTH',
       'KUTCH', 'MEHSANA', 'NARMADA', 'NAVSARI', 'PALANPUR', 'PANCHMAHAL',
       'PATAN', 'PORBANDAR', 'RAJKOT COMMR.', 'RAJKOT RURAL',
       'SURAT COMMR.', 'SURAT RURAL', 'SURENDRANAGAR', 'VADODARA COMMR.',
       'VADODARA RURAL', 'VALSAD', 'W.RLY', 'AMBALA', 'BHIWANI',
       'FARIDABAD', 'FATEHABAD', 'GRP', 'GURGAON', 'HISSAR', 'JHAJJAR',
       'JIND', 'KAITHAL', 'KARNAL', 'KURUKSHETRA', 'MAHENDRAGARH',
       'PANCHKULA', 'PANIPAT', 'REWARI', 'ROHTAK', 'SIRSA', 'SONIPAT',
       'YAMUNANAGAR', 'CHAMBA', 'HAMIRPUR', 'KANGRA', 'KINNAUR', 'KULLU',
       'LAHAUL-SPITI', 'MANDI', 'SHIMLA', 'SIRMAUR', 'SOLAN', 'UNA',
       'ANANTNAG', 'AWANTIPORA', 'BARAMULLA', 'BORDER', 'BUDGAM',
       'CRIME JAMMU', 'CRIME SRINAGAR', 'DODA', 'GANDERBAL', 'JAMMU',
       'KARGIL', 'KATHUA', 'KULGAM', 'KUPWARA', 'LEH', 'POONCH',
       'PULWAMA', 'RAILWAYS', 'RAJOURI', 'RAMBAN', 'REASI', 'SRINAGAR',
       'UDHAMPUR', 'BOKARO', 'CHAIBASA', 'CHATRA', 'DEOGHAR', 'DHANBAD',
       'DHANBAD RLY.', 'DUMKA', 'GARHWA', 'GIRIDIH', 'GODDA', 'GUMLA',
       'HAZARIBAGH', 'JAMSHEDPUR', 'JAMSHEDPUR RLY.', 'JAMTARA',
       'KODERMA', 'LATEHAR', 'LOHARDAGGA', 'PAKUR', 'PALAMU', 'RANCHI',
       'SAHEBGANJ', 'SARAIKELA', 'SIMDEGA', 'BAGALKOT',
       'BANGALORE COMMR.', 'BANGALORE RURAL', 'BELGAUM', 'BELLARY',
       'BIDAR', 'BIJAPUR', 'CHAMARAJNAGAR', 'CHICKMAGALUR', 'CHITRADURGA',
       'DAKSHIN KANNADA', 'DAVANAGERE', 'DHARWAD COMMR.', 'DHARWAD RURAL',
       'GADAG', 'GULBARGA', 'HASSAN', 'HAVERI', 'K.G.F.', 'KODAGU',
       'KOLAR', 'KOPPAL', 'MANDYA', 'MYSORE COMMR.', 'MYSORE RURAL',
       'RAICHUR', 'SHIMOGA', 'TUMKUR', 'UDUPI', 'UTTAR KANNADA',
       'ALAPUZHA', 'CBCID', 'ERNAKULAM', 'IDUKKI', 'KANNUR', 'KASARGOD',
       'KOLLAM', 'KOTTAYAM', 'KOZHIKODE', 'MALAPPURAM', 'PALAKKAD',
       'PATHANAMTHITTA', 'THRISSUR', 'TRIVANDRUM', 'WAYANADU', 'BALAGHAT',
       'BARWANI', 'BETUL', 'BHIND', 'BHOPAL', 'BHOPAL RLY.', 'CHHATARPUR',
       'CHHINDWARA', 'DAMOH', 'DATIYA', 'DEWAS', 'DHAR', 'DINDORI',
       'GUNA', 'GWALIOR', 'HARDA', 'HOSHANGABAD', 'INDORE', 'INDORE RLY.',
       'JABALPUR', 'JABALPUR RLY.', 'JHABUA', 'KATNI', 'KHANDWA',
       'KHARGON', 'MANDLA', 'MANDSAUR', 'MORENA', 'NARSINGHPUR',
       'NEEMUCH', 'PANNA', 'RAISEN', 'RAJGARH', 'RATLAM', 'REWA', 'SAGAR',
       'SATNA', 'SEONI', 'SHAHDOL', 'SHAJAPUR', 'SHEOPUR', 'SHIVPURI',
       'SIDHI', 'SIHORE', 'TIKAMGARH', 'UJJAIN', 'UMARIYA', 'VIDISHA',
       'AHMEDNAGAR', 'AKOLA', 'AMRAVATI COMMR.', 'AMRAVATI RURAL',
       'AURANGABAD COMMR.', 'AURANGABAD RURAL', 'BEED', 'BHANDARA',
       'BULDHANA', 'CHANDRAPUR', 'DHULE', 'GADCHIROLI', 'GONDIA',
       'HINGOLI', 'JALGAON', 'JALNA', 'KOLHAPUR', 'LATUR', 'MUMBAI',
       'MUMBAI RLY.', 'NAGPUR COMMR.', 'NAGPUR RLY.', 'NAGPUR RURAL',
       'NANDED', 'NANDURBAR', 'NASIK COMMR.', 'NASIK RURAL',
       'NAVI MUMBAI', 'OSMANABAD', 'PARBHANI', 'PUNE COMMR.', 'PUNE RLY.',
       'PUNE RURAL', 'RAIGAD', 'RATNAGIRI', 'SANGLI', 'SATARA',
       'SINDHUDURG', 'SOLAPUR COMMR.', 'SOLAPUR RURAL', 'THANE COMMR.',
       'THANE RURAL', 'WARDHA', 'WASHIM', 'YAVATMAL', 'BISHNUPUR',
       'CHANDEL', 'CHURACHANDPUR', 'IMPHAL(EAST)', 'IMPHAL(WEST)',
       'SENAPATI', 'TAMENGLONG', 'THOUBAL', 'UKHRUL', 'GARO HILLS EAST',
       'GARO HILLS SOUTH', 'GARO HILLS WEST', 'JAINTIA HILLS',
       'KHASI HILLS EAST', 'KHASI HILLS WEST', 'RI-BHOI', 'AIZAWL',
       'CHAMPHAI', 'KOLASIB', 'LAWNGTLAI', 'LUNGLEI', 'MAMIT', 'SAIHA',
       'SERCHHIP', 'DIMAPUR', 'KIPHIRE', 'KOHIMA', 'MOKOKCHUNG', 'MON',
       'PEREN', 'PHEK', 'TUENSANG', 'WOKHA', 'ZUNHEBOTO', 'ANGUL',
       'BALASORE', 'BARAGARH', 'BERHAMPUR', 'BHADRAK', 'BOLANGIR',
       'BOUDH', 'CUTTACK', 'DEOGARH', 'DHENKANAL', 'GAJAPATI', 'GANJAM',
       'JAGATSINGHPUR', 'JAJPUR', 'JHARSUGUDA', 'KALAHANDI', 'KANDHAMAL',
       'KENDRAPARA', 'KEONJHAR', 'KHURDA', 'KORAPUT', 'MALKANGIR',
       'MAYURBHANJ', 'NAYAGARH', 'NOWRANGPUR', 'NUAPADA', 'PURI',
       'RAYAGADA', 'ROURKELA', 'SAMBALPUR', 'SONEPUR', 'SRP(CUTTACK)',
       'SRP(ROURKELA)', 'SUNDARGARH', 'AMRITSAR', 'BARNALA', 'BATALA',
       'BHATINDA', 'FARIDKOT', 'FATEHGARH SAHIB', 'FEROZEPUR', 'G.R.P',
       'GURDASPUR', 'HOSHIARPUR', 'JAGRAON', 'JALANDHAR', 'KAPURTHALA',
       'KHANNA', 'LUDHIANA', 'MAJITHA', 'MANSA', 'MOGA', 'MUKTSAR',
       'NAWAN SHAHR', 'PATIALA', 'ROPAR', 'SANGRUR', 'TARN TARAN',
       'AJMER', 'ALWAR', 'BANSWARA', 'BARAN', 'BARMER', 'BHARATPUR',
       'BHILWARA', 'BIKANER', 'BUNDI', 'CHITTORGARH', 'CHURU', 'DAUSA',
       'DHOLPUR', 'DUNGARPUR', 'GANGANAGAR', 'HANUMANGARH', 'JAIPUR',
       'JAISALMER', 'JALORE', 'JHALAWAR', 'JHUNJHUNU', 'JODHPUR',
       'KARAULI', 'KOTA', 'NAGAUR', 'PALI', 'RAJSAMAND', 'SAWAI MADHOPUR',
       'SIKAR', 'SIROHI', 'TONK', 'UDAIPUR', 'EAST', 'NORTH', 'SOUTH',
       'WEST', 'ARIYALUR', 'CHENGAI', 'CHENNAI', 'CHENNAI RLY.',
       'COIMBATORE RURAL', 'COIMBATORE URBAN', 'CUDDALORE', 'DHARMAPURI',
       'DINDIGUL', 'ERODE', 'KANCHIPURAM', 'KANYAKUMARI', 'KARUR',
       'MADURAI RURAL', 'MADURAI URBAN', 'NAGAPATTINAM', 'NAMAKKAL',
       'NILGIRIS', 'PERAMBALUR', 'PUDUKOTTAI', 'RAMNATHAPURAM',
       'SALEM RURAL', 'SALEM URBAN', 'SIVAGANGAI', 'THANJAVUR', 'THENI',
       'THIRUNELVELI RURAL', 'THIRUNELVELI URBAN', 'THIRUVALLUR',
       'THIRUVANNAMALAI', 'THIRUVARUR', 'THOOTHUGUDI', 'TRICHY RLY.',
       'TRICHY RURAL', 'TRICHY URBAN', 'VELLORE', 'VILLUPURAM',
       'VIRUDHUNAGAR', 'DHALAI', 'AGRA', 'ALIGARH', 'ALLAHABAD',
       'AMBEDKAR NAGAR', 'AURAIYA', 'AZAMGARH', 'BADAUN', 'BAGHPAT',
       'BAHRAICH', 'BALLIA', 'BANDA', 'BARABANKI', 'BAREILLY', 'BASTI',
       'BIJNOR', 'BULANDSHAHAR', 'CHANDOLI', 'CHITRAKOOT DHAM', 'DEORIA',
       'ETAH', 'ETAWAH', 'FAIZABAD', 'FATEHGARH', 'FATEHPUR', 'FIROZABAD',
       'GAUTAMBUDH NAGAR', 'GHAZIABAD', 'GHAZIPUR', 'GONDA', 'GORAKHPUR',
       'HARDOI', 'HATHRAS', 'J.P.NAGAR', 'JALAUN', 'JAUNPUR', 'JHANSI',
       'KANNAUJ', 'KANPUR DEHAT', 'KANPUR NAGAR', 'KAUSHAMBI', 'KHIRI',
       'KUSHI NAGAR', 'LALITPUR', 'LUCKNOW', 'MAHARAJGANJ', 'MAHOBA',
       'MAINPURI', 'MATHURA', 'MAU', 'MEERUT', 'MIRZAPUR', 'MORADABAD',
       'MUZAFFARNAGAR', 'PILIBHIT', 'PRATAPGARH', 'RAIBAREILLY', 'RAMPUR',
       'SAHARANPUR', 'SANT KABIRNAGAR', 'SHAHJAHANPUR', 'SHRAWASTI',
       'SIDHARTHNAGAR', 'SITAPUR', 'SONBHADRA', 'ST.RAVIDASNAGAR',
       'SULTANPUR', 'UNNAO', 'VARANASI', 'ALMORA', 'BAGESHWAR', 'CHAMOLI',
       'CHAMPAWAT', 'DEHRADUN', 'HARIDWAR', 'NAINITAL', 'PAURI GARHWAL',
       'PITHORAGARH', 'RUDRA PRAYAG', 'TEHRI GARHWAL', 'UDHAMSINGH NAGAR',
       'UTTARKASHI', '24 PARGANAS NORTH', '24 PARGANAS SOUTH', 'ASANSOL',
       'BANKURA', 'BIRBHUM', 'BURDWAN', 'COOCHBEHAR', 'DAKSHIN DINAJPUR',
       'DARJEELING', 'HOOGHLY', 'HOWRAH', 'HOWRAH CITY', 'HOWRAH G.R.P.',
       'JALPAIGURI', 'KOLKATA', 'MALDA', 'MIDNAPUR', 'MURSHIDABAD',
       'NADIA', 'PURULIA', 'SEALDAH G.R.P.', 'SILIGURI G.R.P.',
       'UTTAR DINAJPUR', 'ANDAMAN', 'NICOBAR', 'CHANDIGARH',
       'D and N HAVELI', 'DAMAN', 'DIU', 'CENTRAL', 'DELHI UT TOTAL',
       'G.R.P.(RLY)', 'I.G.I. AIRPORT', 'NEW DELHI', 'NORTH EAST',
       'NORTH WEST', 'S.T.F.', 'SOUTH WEST', 'LAKSHADWEEP', 'PONDICHERRY',
       'KABIRDHAM', 'HANDWARA', 'KHARAGPUR G.R.P.', 'PASCHIM MIDNAPUR',
       'PURAB MIDNAPUR', 'SPL CELL', 'CYBERABAD', 'K/KUMEY',
       'UPPER DIBANG VALLEY', 'NARAYANPUR', 'ERNAKULAM COMMR.',
       'ERNAKULAM RURAL', 'KOZHIKODE COMMR.', 'KOZHIKODE RURAL',
       'TRIVANDRUM COMMR.', 'TRIVANDRUM RURAL', 'ANUPPUR', 'ASHOK NAGAR',
       'BURHANPUR', 'KRISHNAGIRI', 'BASKA', 'CHIRANG', 'UDALGURI',
       'SURAJPUR', 'MEWAT', 'FEROZPUR', 'VILUPPURAM', 'IGI AIRPORT',
       'NORTH-EAST', 'NORTH-WEST', 'SOUTH-WEST', 'VIJAYAWADA CITY',
       'PALWAL', 'BORDER DISTRICT', 'MUMBAI COMMR.', 'IMPHAL EAST',
       'IMPHAL WEST', 'SAS NGR', 'JAIPUR EAST', 'JAIPUR NORTH',
       'JAIPUR RURAL', 'JAIPUR SOUTH', 'JODHPUR CITY', 'JODHPUR RURAL',
       'KOTA CITY', 'KOTA RURAL', 'GRP(RLY)', 'STF', 'KARAIKAL', 'KHUNTI',
       'RAMGARH', 'LONGLENG', 'AMRITSAR RURAL', 'A and N ISLANDS',
       'OUTER', 'TAPI', 'BANDIPORA', 'KISHTWAR', 'SAMBA', 'SHOPIAN',
       'CBPURA', 'RAMANAGAR', 'ALIRAJPUR', 'SINGRAULI', 'CID', 'DCP BBSR',
       'DCP CTC', 'LUDHIANA RURAL', 'SBS NAGAR', 'CHENNAISUBURBAN',
       'KANSHIRAM NAGAR', 'CAW', 'CRIME BRANCH', 'EOW', 'SOUTH-EAST',
       'PUDUCHERRY', 'ANJAW', 'BADDIPOLICEDIST', 'RAILWAYS KMR',
       'TIRUPPUR', 'GUNTUR URBAN', 'RAJAHMUNDRY', 'TIRUPATHI URBAN',
       'WARANGAL URBAN', 'RURAL', 'CID CRIME', 'CRIME KASHMIR', 'SOPORE',
       'YADGIRI', 'CP AMRITSAR', 'CP JALANDHAR', 'CP LUDHIANA',
       'JALANDHAR RURAL', 'G.R.P. AJMER', 'G.R.P. JODHPUR', 'CSM NAGAR',
       'RAMABAI NAGAR', 'GARIYABAND', 'KUTCH (EAST(G))',
       'KUTCH (WEST-BHUJ)', 'W.RLY AHMEDABAD', 'W.RLY VADODARA',
       'RAILWAYS JAMMU', 'RAILWAYS KASHMIR', 'MANGALORE CITY',
       'KOLLAM COMMR.', 'KOLLAM RURAL', 'THRISSUR COMMR.',
       'THRISSUR RURAL', 'FAZILKA', 'PATHANKOT', 'G.R.P.AJMER',
       'G.R.P.JODHPUR', 'JAIPUR WEST', 'BHIM NAGAR', 'PANCHSHIL NAGAR',
       'PRABUDDH NAGAR', 'BAKSA', 'BIEO', 'HAMREN', 'BALOD',
       'BALODA BAZAR', 'BEMETARA', 'KONDAGAON', 'MUNGELI', 'SUKMA',
       'AMBALA RURAL', 'AMBALA URBAN', 'RAILWAYS KATRA', 'JODHPUR EAST',
       'JODHPUR WEST', 'GOMATI', 'KHOWAI', 'SIPAHIJALA', 'UNAKOTI',
       'BDN CP', 'BKP CP', 'JHARGRAM', 'SILIGURI_PC', 'CAR'], dtype=object)

In [5]:
#drop unnecessary data :
df = df.drop(list(df[df['DISTRICT'] == 'TOTAL'].index))

In [6]:
df.shape

(8609, 10)

In [7]:
df.columns

Index(['STATE/UT', 'DISTRICT', 'Year', 'Rape', 'Kidnapping and Abduction',
       'Dowry Deaths', 'Assault on women with intent to outrage her modesty',
       'Insult to modesty of Women', 'Cruelty by Husband or his Relatives',
       'Importation of Girls'],
      dtype='object')

In [8]:
#rename columns with slashes or spaces to be inserted in SQL Queries
df = df.rename(columns ={'STATE/UT':'STATE_UT' ,'Year':'years','Kidnapping and Abduction':'Kidnapping_and_Abduction',
                        'Dowry Deaths':'Dowry_Deaths' ,
                        'Assault on women with intent to outrage her modesty':'Assault_on_women_with_intent_to_outrage_her_modesty',
                        'Insult to modesty of Women':'Insult_to_modesty_of_Women' ,
                        'Cruelty by Husband or his Relatives':'Cruelty_by_Husband_or_his_Relatives',
                        'Importation of Girls':'Importation_of_Girls'})

In [9]:
df.columns

Index(['STATE_UT', 'DISTRICT', 'years', 'Rape', 'Kidnapping_and_Abduction',
       'Dowry_Deaths', 'Assault_on_women_with_intent_to_outrage_her_modesty',
       'Insult_to_modesty_of_Women', 'Cruelty_by_Husband_or_his_Relatives',
       'Importation_of_Girls'],
      dtype='object')

In [10]:
#save dataset
df.to_csv('/Users/tabrezkhan/Downloads/District_wise_crimes_committed_against_women_2001_2012.csv',index=False)

02_District_wise_crimes_committed_against_ST_2001_2012

In [11]:
df1= pd.read_csv('/Users/tabrezkhan/Downloads/India_Crime - Copy/02_District_wise_crimes_committed_against_ST_2001_2012.csv')
df1

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,0,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,0,0,0,0,0,0,0,0,0,0
9017,PUDUCHERRY,TOTAL,2012,0,0,0,0,0,0,0,0,0,0

In [12]:
#check for missing values
df1.isnull().sum()

STATE/UT                                0
DISTRICT                                0
Year                                    0
Murder                                  0
Rape                                    0
Kidnapping Abduction                    0
Dacoity                                 0
Robbery                                 0
Arson                                   0
Hurt                                    0
Protection of Civil Rights (PCR) Act    0
Prevention of atrocities (POA) Act      0
Other Crimes Against STs                0
dtype: int64

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9018 entries, 0 to 9017
Data columns (total 13 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   STATE/UT                              9018 non-null   object
 1   DISTRICT                              9018 non-null   object
 2   Year                                  9018 non-null   int64
 3   Murder                                9018 non-null   int64
 4   Rape                                  9018 non-null   int64
 5   Kidnapping Abduction                  9018 non-null   int64
 6   Dacoity                               9018 non-null   int64
 7   Robbery                               9018 non-null   int64
 8   Arson                                 9018 non-null   int64
 9   Hurt                                  9018 non-null   int64
 10  Protection of Civil Rights (PCR) Act  9018 non-null   int64
 11  Prevention of atrocities (POA) Act    9018 non-null   int64
 12  Other Crimes Against STs              9018 non-null   int64
dtypes: int64(11), object(2)
memory usage: 916.0+ KB

In [14]:
#drop unnecessary data :
df1 = df1.drop(list(df1[df1['DISTRICT'] == 'TOTAL'].index))

In [15]:
df1.shape

(8597, 13)

In [22]:
#rename columns with slashes and spaces to be inserted in SQL Queries
df1 = df1.rename(columns = {'STATE/UT':'STATE_UT','Year':'years','Kidnapping Abduction':'Kidnapping_Abduction',
                          'Protection of Civil Rights (PCR) Act':'Protection_of_Civil_Rights_PCR_Act',
                         'Prevention of atrocities (POA) Act':'Prevention_of_atrocities_POA_Act',
                          'Other Crimes Against STs':'Other_Crimes_Against_STs' })

In [23]:
df1.columns

Index(['STATE_UT', 'DISTRICT', 'years', 'Murder', 'Rape',
       'Kidnapping_Abduction', 'Dacoity', 'Robbery', 'Arson', 'Hurt',
       'Protection_of_Civil_Rights_PCR_Act',
       'Prevention_of_atrocities_POA_Act', 'Other_Crimes_Against_STs'],
      dtype='object')

In [24]:
#now save the dataset
df1.to_csv('/Users/tabrezkhan/Downloads/02_District_wise_crimes_committed_against_ST_2001_2012.csv',index=False)

01_District_wise_crimes_committed_IPC_2001_2012

In [25]:
df2 = pd.read_csv('/Users/tabrezkhan/Downloads/India_Crime - Copy/01_District_wise_crimes_committed_IPC_2001_2012.csv')
df2

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

In [26]:
df2.isnull().sum()

STATE/UT                                               0
DISTRICT                                               0
YEAR                                                   0
MURDER                                                 0
ATTEMPT TO MURDER                                      0
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER              0
RAPE                                                   0
CUSTODIAL RAPE                                         0
OTHER RAPE                                             0
KIDNAPPING & ABDUCTION                                 0
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS            0
KIDNAPPING AND ABDUCTION OF OTHERS                     0
DACOITY                                                0
PREPARATION AND ASSEMBLY FOR DACOITY                   0
ROBBERY                                                0
BURGLARY                                               0
THEFT                                                  0
AUTO THEFT                                             0
OTHER THEFT                                            0
RIOTS                                                  0
CRIMINAL BREACH OF TRUST                               0
CHEATING                                               0
COUNTERFIETING                                         0
ARSON                                                  0
HURT/GREVIOUS HURT                                     0
DOWRY DEATHS                                           0
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY    0
INSULT TO MODESTY OF WOMEN                             0
CRUELTY BY HUSBAND OR HIS RELATIVES                    0
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES            0
CAUSING DEATH BY NEGLIGENCE                            0
OTHER IPC CRIMES                                       0
TOTAL IPC CRIMES                                       0
dtype: int64

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9017 entries, 0 to 9016
Data columns (total 33 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   STATE/UT                                             9017 non-null   object
 1   DISTRICT                                             9017 non-null   object
 2   YEAR                                                 9017 non-null   int64
 3   MURDER                                               9017 non-null   int64
 4   ATTEMPT TO MURDER                                    9017 non-null   int64
 5   CULPABLE HOMICIDE NOT AMOUNTING TO MURDER            9017 non-null   int64
 6   RAPE                                                 9017 non-null   int64
 7   CUSTODIAL RAPE                                       9017 non-null   int64
 8   OTHER RAPE                                           9017 non-null   int64
 9   KIDNAPPING & ABDUCTION                               9017 non-null   int64
 10  KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS          9017 non-null   int64
 11  KIDNAPPING AND ABDUCTION OF OTHERS                   9017 non-null   int64
 12  DACOITY                                              9017 non-null   int64
 13  PREPARATION AND ASSEMBLY FOR DACOITY                 9017 non-null   int64
 14  ROBBERY                                              9017 non-null   int64
 15  BURGLARY                                             9017 non-null   int64
 16  THEFT                                                9017 non-null   int64
 17  AUTO THEFT                                           9017 non-null   int64
 18  OTHER THEFT                                          9017 non-null   int64
 19  RIOTS                                                9017 non-null   int64
 20  CRIMINAL BREACH OF TRUST                             9017 non-null   int64
 21  CHEATING                                             9017 non-null   int64
 22  COUNTERFIETING                                       9017 non-null   int64
 23  ARSON                                                9017 non-null   int64
 24  HURT/GREVIOUS HURT                                   9017 non-null   int64
 25  DOWRY DEATHS                                         9017 non-null   int64
 26  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY  9017 non-null   int64
 27  INSULT TO MODESTY OF WOMEN                           9017 non-null   int64
 28  CRUELTY BY HUSBAND OR HIS RELATIVES                  9017 non-null   int64
 29  IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES          9017 non-null   int64
 30  CAUSING DEATH BY NEGLIGENCE                          9017 non-null   int64
 31  OTHER IPC CRIMES                                     9017 non-null   int64
 32  TOTAL IPC CRIMES                                     9017 non-null   int64
dtypes: int64(31), object(2)
memory usage: 2.3+ MB

In [28]:
df2.columns

Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'ATTEMPT TO MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING & ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'AUTO THEFT', 'OTHER THEFT', 'RIOTS', 'CRIMINAL BREACH OF TRUST',
       'CHEATING', 'COUNTERFIETING', 'ARSON', 'HURT/GREVIOUS HURT',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES'],
      dtype='object')

In [29]:
df_ordered = df2[['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'ATTEMPT TO MURDER','RAPE']]
df_ordered

            STATE/UT       DISTRICT  YEAR  MURDER  ATTEMPT TO MURDER  RAPE
0     ANDHRA PRADESH       ADILABAD  2001     101                 60    50
1     ANDHRA PRADESH      ANANTAPUR  2001     151                125    23
2     ANDHRA PRADESH       CHITTOOR  2001     101                 57    27
3     ANDHRA PRADESH       CUDDAPAH  2001      80                 53    20
4     ANDHRA PRADESH  EAST GODAVARI  2001      82                 67    23
...              ...            ...   ...     ...                ...   ...
9012     LAKSHADWEEP    LAKSHADWEEP  2012       0                  0     0
9013     LAKSHADWEEP          TOTAL  2012       0                  0     0
9014      PUDUCHERRY       KARAIKAL  2012       5                  6     6
9015      PUDUCHERRY     PUDUCHERRY  2012      24                 21     7
9016      PUDUCHERRY          TOTAL  2012      29                 27    13

[9017 rows x 6 columns]

In [30]:
df_ordered = df_ordered.drop(list(df_ordered[df_ordered['DISTRICT'] == 'TOTAL'].index))

In [31]:
df_ordered.shape

(8609, 6)

In [33]:
#rename columns with spaces or slashes to be inserted in SQL Queries
df_ordered = df_ordered.rename(columns={'STATE/UT':'STATE_UT' ,'YEAR':'years','ATTEMPT TO MURDER':'ATTEMPT_TO_MURDER'})

In [34]:
df_ordered.columns

Index(['STATE_UT', 'DISTRICT', 'years', 'MURDER', 'ATTEMPT_TO_MURDER', 'RAPE'], dtype='object')

In [35]:
#save the dataset
df_ordered.to_csv('/Users/tabrezkhan/Downloads/01_District_wise_crimes_committed_IPC_2001_2012.csv',index=False)